
.cardGrid {
   padding: 40px 10px 6px 10px ;
   margin-bottom: 20px;
}

.searchBox {
    display: flex;
    justify-content: center; 
    margin: 0 5rem;
    padding: 0 10px;
    margin-top: 20px;
}

