
.container {
        margin-top: 30px;
        padding: 8rem, 0rem, 6rem, 0rem;
}


.box {
        background-color: #ffffff;
        padding: 1rem;
}

.boxContainer {
        padding-bottom: 2rem;
}



.thumbsContainer {
        display: flex;
        margin-top: 15px;
}

.dropzone {
        width: 200px;
        margin: 0 15px 15px 0;
        height: 150px;
        background-color: rgb(242, 244, 275);
        border: 2px dashed black;       
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
}

.thumb {
        width: 200px;
        height: 150px;
        background-size: cover;
        background-image: center center;
        position: relative;
}

.thumb:hover .mask {
        display: flex;
}

.mask {
        display: none;
        background-color: rgba(0, 0, 0, 0.7);
        height: 100%;
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
}

.mainImage {
        background-color: blue;
        padding: 6px 10px;
        position: absolute;
        left: 0;
        bottom: 0;
}