
.container {
        margin-top: 30px;
        padding: 8rem, 0rem, 6rem, 0rem;
}


.box {
        background-color: #ffffff;
        padding: 1rem;
}

.boxContainer {
        padding-bottom: 1rem;
}