.box {
    background-color: #ffffff;
    padding: 20px;
}

.container{
    margin-bottom: 20px;
}

.formControl{
    margin-bottom: 10px;
}

.submit {
    margin: 15px 0;
}

.loading {
    display: block;
    margin: '10px auto';
}

.containerButton {
    padding:0;
}

.errorMessage {
    margin: 20px auto;
}